<div class="card">
    <img class="profilePicture" [src]="persoana.linkProfilePicture" alt="Shrek Smith">
    <ng-content></ng-content>
    <div>Nume: {{persoana.nume | titlecase}}</div>
    <div>Varsta: {{persoana.varsta}}</div>
    <div 
        [ngClass]="persoana.inaltime > 1.60 ? 'blue-text' : 'green-text'"
    >
        Inaltime: {{persoana.inaltime}}
    </div>
    <div>{{date | date:'dd/MM/yyyy'}}</div>
  
    <button (click)="delete()">Delete</button>
    <button (click)="schimbaNume()">Schimba Nume</button>
</div>