<h1>Salut Tarane</h1>

<div>
  <div
    class="inputContainer"
  >
    <label>nume: </label>
    <input type="text" 
      [(ngModel)]="nume"
    >
  </div>
  <div
    class="inputContainer"
  >
    <label>varsta: </label>
    <input type="number"  [ngModel]="varsta"
      (ngModelChange)="varstaChanged($event)"
    >
  </div>
  <div
    class="inputContainer"
  >
    <label>inaltime: </label>
    <input type="number" [(ngModel)]="inaltime"
    >
  </div>
  <div
    class="inputContainer"
  >
    <label>Link Poza Profil: </label>
    <input type="text" [(ngModel)]="linkProfilePicture"
    >
  </div>

  <button (click)="adaugaPersoana()"
    [disabled]="buttonDisabled"
  >
    Adauga Persoana
  </button>
 

</div>

<div class="card-container">
  <app-card
  *ngFor="let persoana of persoane;let i=index"
  [persoana]="persoana"
  [nume]="numePP"
  (deleteEvent)="deleteCard(i)"
  (event)="eventEmis()"
  >
  <h2>Persoana {{i+1}}</h2>
  </app-card>
</div>